@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');



section {
  height: 100vh;
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section:nth-of-type(even) {
  background-color: lightgrey;
}

/*******************P1*****************************************/

.the-pen {
  background-image: url(assets/hexdec.svg);
 
/* content   */
  font-family: 'Oxygen', sans-serif;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15vmin;
}

/*******************^P1^*****************************************/

/*******************P2*****************************************/
.is-mightier {
/*   background-image: url(assets/Bio.svg); */
  font-family: 'Oxygen', sans-serif;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3vmin;
  font-color : white;
}

p{
    margin: 10%;
 
}

/*******************^P2^*****************************************/

.than {
/*   background-image: url(assets/than.svg); */
  background-image: url(assets/hexdec.svg);
   
}

.the-sword {
/*   background-image: url(assets/the-sword.svg); */
}

.end {
/*   background-image: url(assets/end.svg); */
  background-image: url(assets/hexdec.svg);
  
}

footer {  
  position: fixed;
	bottom: 30px;
  left: 0;
	width: 100%;
  text-align: center;
}


@media (max-width: 800px) {
  section {
    background-attachment: scroll;
  }
}
